# Compiled source #
###################
*.o
*.a

# Specific directories #
########################
include

# Specific exes #
#################
tools/generate_class_based_qa
tools/test_read_level1_qa
tools/dilate_class_value

